In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [3]:
import pycountry
import pycountry_convert as pc
from pycountry_convert import country_name_to_country_alpha2

In [4]:
## Pulling data from csvs and storing as dataframes and Cleaning our dataframes
pharm_csv = os.path.join(os.getcwd(), "Data", "pharmacists.csv")
pharm_df = pd.read_csv(pharm_csv)
##Changing column names
pharm_df = pharm_df.rename(columns = {"First Tooltip" : "Pharmicists Per 10,000"}).drop(columns =["Indicator"])
pharm_df['Location'] = pharm_df['Location'].str.replace("Bolivia (Plurinational state of)","Bolivia")

In [5]:
med_doctors_csv = os.path.join(os.getcwd(), "Data", "medicalDoctors.csv")
med_doctors_df = pd.read_csv(med_doctors_csv)
##Changing column names
med_doctors_df = med_doctors_df.rename(columns = {"First Tooltip" : "Medical Doctors Per 10,000"}).drop(columns =["Indicator"])
med_doctors_df['Location'] = med_doctors_df['Location'].str.replace("Bolivia (Plurinational state of)","Bolivia")

In [6]:
# life_expect_csv = os.path.join(os.getcwd(), "Data", "Life expectancy.csv")
# life_expect_df = pd.read_csv(life_expect_csv)
##Changing column names
# life_expect_df = life_expect_df.rename(columns = {"Entity" : "Location", "Year" : "Period"})

In [7]:
life_expect_csv = os.path.join(os.getcwd(), "Data", "LifeExpectancy_world.csv")
life_expect_df = pd.read_csv(life_expect_csv)
life_expect_df = life_expect_df.drop(columns = {"Code"})
life_expect_df = life_expect_df.rename(columns = {'Entity' : 'Location'})
life_expect_df = life_expect_df.melt(['Location'], var_name = 'Period', value_name = 'Life Expectancy')
life_expect_df['Period'] = life_expect_df['Period'].astype(int)
life_expect_df
# life_expect_df = life_expect_df.set_index('Location')
# life_expect_df = life_expect_df.set_index('Variable').T
# life_expect_df = life_expect_df.set_index('col1').T.rename_axis('Variable').rename_axis(None, 1)

             Location  Period  Life Expectancy
0         Afghanistan    1950           27.638
1              Africa    1950           36.450
2             Albania    1950           54.191
3             Algeria    1950           42.087
4      American Samoa    1950           63.775
...               ...     ...              ...
17005  Western Sahara    2019           70.263
17006           World    2019           72.584
17007           Yemen    2019           66.125
17008          Zambia    2019           63.886
17009        Zimbabwe    2019           61.490

[17010 rows x 3 columns]

In [8]:
hand_wash_csv = os.path.join(os.getcwd(), "Data", "basicHandWashing.csv")
hand_wash_df = pd.read_csv(hand_wash_csv)
##Changing column names
hand_wash_df = hand_wash_df.rename(columns = {"First Tooltip" : "Population with basic handwashing facilities at home (%)"}).drop(columns =["Indicator"])
hand_wash_df = hand_wash_df[hand_wash_df["Dim1"].str.contains("Urban")==False]
hand_wash_df = hand_wash_df[hand_wash_df["Dim1"].str.contains("Rural")==False]
hand_wash_df = hand_wash_df.drop(columns = {"Dim1"})
hand_wash_df['Location'] = hand_wash_df['Location'].str.replace("Bolivia (Plurinational state of)","Bolivia")
hand_wash_df

,Location,Period,Population with basic handwashing facilities at home (%)
0,Afghanistan,2017,37.75
3,Afghanistan,2016,37.67
6,Afghanistan,2015,37.59
9,Afghanistan,2014,37.52
12,Afghanistan,2013,37.44
...,...,...,...
2711,Zimbabwe,2015,36.82
2714,Zimbabwe,2014,36.84
2717,Zimbabwe,2013,36.86
2720,Zimbabwe,2012,36.89
2723,Zimbabwe,2011,36.93

In [9]:
drink_water_csv = os.path.join(os.getcwd(), "Data", "basicDrinkingWaterServices.csv")
drink_water_df = pd.read_csv(drink_water_csv)
##Changing column names
drink_water_df = drink_water_df.rename(columns = {"First Tooltip" : "Population using at least basic drinking-water services (%)"}).drop(columns =["Indicator"])
drink_water_df['Location'] = drink_water_df['Location'].str.replace("Bolivia (Plurinational state of)","Bolivia")

In [10]:
sanitize_csv= os.path.join(os.getcwd(), "Data", "atLeastBasicSanitizationServices.csv")
sanitize_df = pd.read_csv(sanitize_csv)
##Changing column names
sanitize_df = sanitize_df.rename(columns = {"First Tooltip" : "Population using at least basic sanitization services (%)"}).drop(columns =["Indicator"])
sanitize_df = sanitize_df[sanitize_df["Dim1"].str.contains("Urban")==False]
sanitize_df = sanitize_df[sanitize_df["Dim1"].str.contains("Rural")==False]
sanitize_df = sanitize_df.drop(columns = {"Dim1"})
sanitize_df['Location'] = sanitize_df['Location'].str.replace("Bolivia (Plurinational state of)","Bolivia")

In [11]:
air_pol_csv = drink_water_csv = os.path.join(os.getcwd(), "Data", "airPollutionDeathRate.csv")
air_pol_df = pd.read_csv(air_pol_csv)
air_pol_df

,Location,Dim2,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Both sexes,95.12 [85.12-104.3]
1,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Male,95.58 [85.5-106]
2,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Female,94.63 [84.55-103.9]
3,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Both sexes,211.1 [188.9-231.3]
4,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Male,228.7 [204.6-253.6]
...,...,...,...,...,...,...
6583,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Male,5.54 [2.74-7.66]
6584,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Female,6.19 [4.73-7.3]
6585,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Both sexes,16.09 [11.67-19.89]
6586,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Male,17.72 [8.75-24.51]
6587,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Female,14.95 [11.43-17.62]

In [12]:
# Merge the Data
merge_df1 = pd.merge(pharm_df, med_doctors_df, on = ["Location", "Period"], how = "outer")

In [13]:
merge_df2 = pd.merge(merge_df1, life_expect_df, on = ["Location", "Period"], how = "outer")
merge_df2

,Location,Period,"Pharmicists Per 10,000","Medical Doctors Per 10,000",Life Expectancy
0,Afghanistan,2016,0.47,2.78,63.763
1,Afghanistan,2015,0.50,2.85,63.377
2,Afghanistan,2014,0.51,2.98,62.966
3,Afghanistan,2012,0.27,2.41,62.054
4,Afghanistan,2011,0.28,2.52,61.553
...,...,...,...,...,...
17253,Western Sahara,2019,NaN,NaN,70.263
17254,World,2019,NaN,NaN,72.584
17255,Yemen,2019,NaN,NaN,66.125
17256,Zambia,2019,NaN,NaN,63.886
17257,Zimbabwe,2019,NaN,NaN,61.490

In [14]:
merge_df3 = pd.merge(merge_df2, hand_wash_df, on = ["Location", "Period"], how = "outer")
merge_df4 = pd.merge(merge_df3, drink_water_df, on = ["Location", "Period"], how = "outer")
final_merge_df = pd.merge(merge_df4, sanitize_df, on = ["Location", "Period"], how = "outer")
final_merge_df

,Location,Period,"Pharmicists Per 10,000","Medical Doctors Per 10,000",Life Expectancy,Population with basic handwashing facilities at home (%),Population using at least basic drinking-water services (%),Population using at least basic sanitization services (%)
0,Afghanistan,2016,0.47,2.78,63.763,37.67,54.84,42.05
1,Afghanistan,2015,0.50,2.85,63.377,37.59,52.39,40.71
2,Afghanistan,2014,0.51,2.98,62.966,37.52,49.96,39.37
3,Afghanistan,2012,0.27,2.41,62.054,37.37,45.19,36.75
4,Afghanistan,2011,0.28,2.52,61.553,37.30,42.84,35.46
...,...,...,...,...,...,...,...,...
17421,Viet Nam,2004,NaN,NaN,NaN,NaN,79.45,59.79
17422,Viet Nam,2003,NaN,NaN,NaN,NaN,78.47,57.95
17423,Viet Nam,2000,NaN,NaN,NaN,NaN,75.54,52.37
17424,Republic of Korea,2001,NaN,NaN,NaN,NaN,NaN,100.00
17425,Republic of Korea,2000,NaN,NaN,NaN,NaN,NaN,100.00

In [15]:
final_merge_df["Continents"] = ''

In [16]:
# for index, row in d3.iterrows():
#     # get restaurant type from df
#     country = row[‘Location’]
#     # print(country)
#     c_to_a = pc.country_name_to_country_alpha2(country)
#     # print(c_to_a)    
#     c_to_c = pc.country_alpha2_to_continent_code(c_to_a)   
#     d3.loc[index, “Country”]= c_to_c
# d3

In [17]:
for index, row in final_merge_df.iterrows():
    # get country
    country = row['Location']
    # print(country)
    c_to_a = pc.country_name_to_country_alpha2(country)
    # print(c_to_a)    
    c_to_c = pc.country_alpha2_to_continent_code(c_to_a)   
    final_merge_df.loc[index, 'Location']= c_to_c

KeyError: "Invalid Country Name: 'Bolivia (Plurinational State of)'"

In [ ]:
def country_to_continent(Location):
    country_alpha2 = pc.country_name_to_country_alpha2(final_merge_df['Location'])
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

# Example
Location = "Afghanistan"
print(country_to_continent(Location))

In [ ]:
final_merge_df.describe()

In [ ]:
# Finding the number of countries
country = final_merge_df["Location"].nunique()
country

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.
drinking_water_df = pd.DataFrame(final_merge_df.groupby(["Location","Population using at least basic drinking-water services (%)"]).count()).reset_index() 

#Alter the dataframe down to two columns 
drinking_water_df = drinking_water_df[["Location", ("Population using at least basic drinking-water services (%)")]] 
drinking_water_df = drinking_water_df.set_index("Location")
drinking_water_df.head()

In [ ]:
# Create the Bar Chart
drinking_water_df.plot(kind="bar",figsize=(25,5), color="b",fontsize = 14)                           
plt.title("Average Basic Drinking Water by Year",fontsize = 20)
plt.xlabel("Year",fontsize = 14)
plt.ylabel("% of Pop Using Basic Drinking Water",fontsize = 14)
plt.tight_layout()
plt.show()

In [ ]:
drinking_water_mean = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].mean()
drinking_water_median = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].median()
drinking_water_var = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].var()
drinking_water_std = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].std()
drinking_water_sem = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].sem()

In [ ]:
drinking_water_table = pd.DataFrame({"Mean": drinking_water_mean, "Median":drinking_water_median, "Variance":drinking_water_var, "Standard Deviation": drinking_water_std, "SEM": drinking_water_sem})
drinking_water_table.head()

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.
drinking_water_data = pd.DataFrame(drinking_water_table.groupby(["Period"]).count()).reset_index() 

#Alter the dataframe down to two columns 
drinking_water_df = drinking_water_data[["Period", "Mean"]] 
drinking_water_df = drinking_water_df.set_index("Period")
drinking_water_df.head()

In [ ]:
continentDict = {"China":"Asia","India":"Asia","Indonesia":"Asia","Pakistan":"Asia","Bangladesh","Japan":"Asia","Philippines":"Asia","Vietnam":"Asia","Turkey":"Asia",
"Iran":"Asia","Thailand":"Asia","Myanmar":"Asia","South Korea":"Asia","Iraq":"Asia","Afghanistan":"Asia","Saudi Arabia":"Asia","Uzbekistan":"Asia","Malaysia":"Asia","Yemen":"Asia",
"Nepal":"Asia","North Korea":"Asia","Taiwan":"Asia","Sri Lanka":"Asia","Kazakhstan":"Asia","Syria":"Asia","Cambodia":"Asia","Jordan":"Asia","Azerbaijan:"Asia",
"United Arab Emirates":"Asia","Tajikistan":"Asia""Israel":"Asia","Hong Kong":"Asia","Laos":"Asia","Lebanon":"Asia","Kyrgyzstan":"Asia","Turkmenistan":"Asia",
"Singapore","Oman","State of Palestine","Kuwait","Georgia","Mongolia","Armenia","Qatar","Bahrain","Timor-Leste",
"Cyprus":"Asia","Bhutan":"Asia","Macao":"Asia","Maldives":"Asia","Brunei Darussalam":"Asia"
               "Nigeria":"Africa","Ethiopia":"Africa","Egypt":"Africa","Democratic Republic of the Congo":"Africa","Tanzania":"Africa","South Africa":"Africa",
"Kenya":"Africa","Uganda":"Africa","Algeria":"Africa","Sudan":"Africa","Morocco":"Africa","Angola":"Africa","Mozambique":"Africa","Ghana":"Africa","Madagascar":"Africa","Cameroon":"Africa","Côte d'Ivoire":"Africa",
"Niger":"Africa","Burkina Faso":"Africa","Mali":"Africa","Malawi":"Africa","Zambia":"Africa","Senegal":"Africa","Chad":"Africa","Somalia":"Africa","Zimbabwe":"Africa","Guinea":"Africa","Rwanda":"Africa","Benin":"Africa",
"Burundi":"Africa","Tunisia":"Africa","South Sudan":"Africa","Togo":"Africa","Sierra Leone":"Africa","Libya":"Africa","Congo":"Africa","Liberia":"Africa","Central African Republic":"Africa",
"Mauritania":"Africa","Eritrea":"Africa","Namibia":"Africa","Gambia":"Africa","Botswana":"Africa","Gabon":"Africa","Lesotho":"Africa","Guinea-Bissau":"Africa","Equatorial Guinea":"Africa",
"Mauritius":"Africa","Eswatini":"Africa","Djibouti":"Africa","Réunion":"Africa","Comoros":"Africa","Western Sahara":"Africa","Cabo Verde":"Africa","Mayotte":"Africa","Sao Tome and Principe":"Africa",
"Seychelles":"Africa","Saint Helena":"Africa"
                 "Russia":"Europe","Germany":"Europe","United Kingdom":"Europe","France":"Europe","Italy":"Europe","Spain":"Europe","Ukraine":"Europe","Poland":"Europe","Romania":"Europe",
"Netherlands":"Europe","Belgium":"Europe","Czechia":"Europe","Greece":"Europe","Portugal":"Europe","Sweden":"Europe","Hungary":"Europe","Belarus":"Europe","Austria":"Europe","Serbia":"Europe","Switzerland":"Europe",
"Bulgaria":"Europe","Denmark":"Europe","Finland":"Europe","Slovakia":"Europe","Norway":"Europe","Ireland":"Europe","Croatia":"Europe","Moldova":"Europe","Bosnia and Herzegovina":"Europe","Albania":"Europe",
"Lithuania":"Europe","North Macedonia":"Europe","Slovenia":"Europe","Latvia":"Europe","Estonia","Montenegro":"Europe","Luxembourg":"Europe","Malta":"Europe","Iceland":"Europe","Channel Islands":"Europe",
"Isle of Man":"Europe","Andorra":"Europe","Faeroe Islands":"Europe","Monaco":"Europe","Liechtenstein":"Europe","San Marino":"Europe","Gibraltar":"Europe","Holy See":"Europe"
                "United States":"North America","Mexico":"North America","Canada":"North America","Guatemala":"North America","Haiti":"North America","Cuba":"North America","Dominican Republic":"North America","Honduras":"North America",
"Nicaragua":"North America","El Salvador":"North America","Costa Rica":"North America","Panama":"North America","Jamaica":"North America","Puerto Rico":"North America","Trinidad and Tobago":"North America","Guadeloupe":"North America","Belize":"North America",
"Bahamas":"North America","Martinique":"North America","Barbados":"North America","Saint Lucia":"North America","Curaçao":"North America","Grenada":"North America","Saint Vincent and the Grenadines":"North America","Aruba":"North America",
"United States Virgin Islands":"North America","Antigua and Barbuda":"North America","Dominica":"North America","Cayman Islands":"North America","Bermuda":"North America","Greenland":"North America","Saint Kitts and Nevis":"North America",
"Sint Maarten":"North America","Turks and Caicos Islands":"North America","Saint Martin":"North America","British Virgin Islands":"North America","Caribbean Netherlands":"North America","Anguilla":"North America",
"Saint Barthélemy":"North America","Saint Pierre and Miquelon":"North America","Montserrat":"North America"
                "Brazil":"South America","Colombia":"South America","Argentina":"South America","Peru":"South America","Venezuela":"South America","Chile":"South America","Ecuador":"South America","Bolivia":"South America",
"Paraguay":"South America","Uruguay":"South America","Guyana":"South America","Suriname":"South America","French Guiana":"South America","Falkland Islands":"South America"
                "Australia":"Oceania","Papua New Guinea":"Oceania","New Zealand":"Oceania","Fiji":"Oceania","Solomon Islands":"Oceania",
"Micronesia":"Oceania","Vanuatu":"Oceania","New Caledonia":"Oceania","French Polynesia":"Oceania","Samoa":"Oceania","Guam":"Oceania","Kiribati":"Oceania","Tonga":"Oceania",
"Marshall Islands","Northern Mariana Islands","American Samoa","Palau","Cook Islands","Tuvalu",
"Wallis and Futuna Islands":"Oceania","Nauru":"Oceania","Niue":"Oceania","Tokelau":"Oceania"}

In [ ]:
africa_continent = ["Nigeria","Ethiopia","Egypt","Democratic Republic of the Congo","Tanzania","South Africa",
"Kenya","Uganda","Algeria","Sudan","Morocco","Angola","Mozambique","Ghana","Madagascar","Cameroon","Côte d'Ivoire",
"Niger","Burkina Faso","Mali","Malawi","Zambia","Senegal","Chad","Somalia","Zimbabwe","Guinea","Rwanda","Benin",
"Burundi","Tunisia","South Sudan","Togo","Sierra Leone","Libya","Congo","Liberia","Central African Republic",
"Mauritania","Eritrea","Namibia","Gambia","Botswana","Gabon","Lesotho","Guinea-Bissau","Equatorial Guinea",
"Mauritius","Eswatini","Djibouti","Réunion","Comoros","Western Sahara","Cabo Verde","Mayotte","Sao Tome and Principe",
"Seychelles","Saint Helena"]

In [ ]:
europe_continent = ["Russia","Germany","United Kingdom","France","Italy","Spain","Ukraine","Poland","Romania",
"Netherlands","Belgium","Czechia","Greece","Portugal","Sweden","Hungary","Belarus","Austria","Serbia","Switzerland",
"Bulgaria","Denmark","Finland","Slovakia","Norway","Ireland","Croatia","Moldova","Bosnia and Herzegovina","Albania",
"Lithuania","North Macedonia","Slovenia","Latvia","Estonia","Montenegro","Luxembourg","Malta","Iceland","Channel Islands",
"Isle of Man","Andorra","Faeroe Islands","Monaco","Liechtenstein","San Marino","Gibraltar","Holy See"]

In [ ]:
north_america_continent = ["United States","Mexico","Canada","Guatemala","Haiti","Cuba","Dominican Republic","Honduras",
"Nicaragua","El Salvador","Costa Rica","Panama","Jamaica","Puerto Rico","Trinidad and Tobago","Guadeloupe","Belize",
"Bahamas","Martinique","Barbados","Saint Lucia","Curaçao","Grenada","Saint Vincent and the Grenadines","Aruba",
"United States Virgin Islands","Antigua and Barbuda","Dominica","Cayman Islands","Bermuda","Greenland","Saint Kitts and Nevis",
"Sint Maarten","Turks and Caicos Islands","Saint Martin","British Virgin Islands","Caribbean Netherlands","Anguilla",
"Saint Barthélemy","Saint Pierre and Miquelon","Montserrat"]

In [ ]:
south_america_continent = ["Brazil","Colombia","Argentina","Peru","Venezuela","Chile","Ecuador","Bolivia",
"Paraguay","Uruguay","Guyana","Suriname","French Guiana","Falkland Islands"]

In [ ]:
australia_oceania_continent = ["Australia","Papua New Guinea","New Zealand","Fiji","Solomon Islands",
"Micronesia","Vanuatu","New Caledonia","French Polynesia","Samoa","Guam","Kiribati","Tonga",
"Marshall Islands","Northern Mariana Islands","American Samoa","Palau","Cook Islands","Tuvalu",
"Wallis and Futuna Islands","Nauru","Niue","Tokelau"]