In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [3]:
import pycountry
import pycountry_convert
from pycountry_convert import country_name_to_country_alpha2

In [4]:
## Pulling data from csvs and storing as dataframes and Cleaning our dataframes
pharm_csv = os.path.join(os.getcwd(), "Data", "pharmacists.csv")
pharm_df = pd.read_csv(pharm_csv)
##Changing column names
pharm_df = pharm_df.rename(columns = {"First Tooltip" : "Pharmicists Per 10,000"}).drop(columns =["Indicator"])

In [5]:
med_doctors_csv = os.path.join(os.getcwd(), "Data", "medicalDoctors.csv")
med_doctors_df = pd.read_csv(med_doctors_csv)
##Changing column names
med_doctors_df = med_doctors_df.rename(columns = {"First Tooltip" : "Medical Doctors Per 10,000"}).drop(columns =["Indicator"])

In [6]:
# life_expect_csv = os.path.join(os.getcwd(), "Data", "Life expectancy.csv")
# life_expect_df = pd.read_csv(life_expect_csv)
##Changing column names
# life_expect_df = life_expect_df.rename(columns = {"Entity" : "Location", "Year" : "Period"})

In [25]:
life_expect_csv = os.path.join(os.getcwd(), "Data", "LifeExpectancy_world.csv")
life_expect_df = pd.read_csv(life_expect_csv)
life_expect_df = life_expect_df.drop(columns = {"Code"})
life_expect_df = life_expect_df.rename(columns = {'Entity' : 'Location'})
life_expect_df = life_expect_df.melt(['Location'], var_name = 'Period', value_name = 'Life Expectancy')
life_expect_df['Period'] = life_expect_df['Period'].astype(int)
life_expect_df
# life_expect_df = life_expect_df.set_index('Location')
# life_expect_df = life_expect_df.set_index('Variable').T
# life_expect_df = life_expect_df.set_index('col1').T.rename_axis('Variable').rename_axis(None, 1)

             Location  Period  Life Expectancy
0         Afghanistan    1950           27.638
1              Africa    1950           36.450
2             Albania    1950           54.191
3             Algeria    1950           42.087
4      American Samoa    1950           63.775
...               ...     ...              ...
17005  Western Sahara    2019           70.263
17006           World    2019           72.584
17007           Yemen    2019           66.125
17008          Zambia    2019           63.886
17009        Zimbabwe    2019           61.490

[17010 rows x 3 columns]

In [15]:
hand_wash_csv = os.path.join(os.getcwd(), "Data", "basicHandWashing.csv")
hand_wash_df = pd.read_csv(hand_wash_csv)
##Changing column names
hand_wash_df = hand_wash_df.rename(columns = {"First Tooltip" : "Population with basic handwashing facilities at home (%)"}).drop(columns =["Indicator"])
hand_wash_df = hand_wash_df[hand_wash_df["Dim1"].str.contains("Urban")==False]
hand_wash_df = hand_wash_df[hand_wash_df["Dim1"].str.contains("Rural")==False]
hand_wash_df = hand_wash_df.drop(columns = {"Dim1"})
hand_wash_df

,Location,Period,Population with basic handwashing facilities at home (%)
0,Afghanistan,2017,37.75
3,Afghanistan,2016,37.67
6,Afghanistan,2015,37.59
9,Afghanistan,2014,37.52
12,Afghanistan,2013,37.44
...,...,...,...
2711,Zimbabwe,2015,36.82
2714,Zimbabwe,2014,36.84
2717,Zimbabwe,2013,36.86
2720,Zimbabwe,2012,36.89
2723,Zimbabwe,2011,36.93

In [16]:
drink_water_csv = os.path.join(os.getcwd(), "Data", "basicDrinkingWaterServices.csv")
drink_water_df = pd.read_csv(drink_water_csv)
##Changing column names
drink_water_df = drink_water_df.rename(columns = {"First Tooltip" : "Population using at least basic drinking-water services (%)"}).drop(columns =["Indicator"])

In [17]:
sanitize_csv= os.path.join(os.getcwd(), "Data", "atLeastBasicSanitizationServices.csv")
sanitize_df = pd.read_csv(sanitize_csv)
##Changing column names
sanitize_df = sanitize_df.rename(columns = {"First Tooltip" : "Population using at least basic sanitization services (%)"}).drop(columns =["Indicator"])
sanitize_df = sanitize_df[sanitize_df["Dim1"].str.contains("Urban")==False]
sanitize_df = sanitize_df[sanitize_df["Dim1"].str.contains("Rural")==False]
sanitize_df = sanitize_df.drop(columns = {"Dim1"})

In [18]:
air_pol_csv = drink_water_csv = os.path.join(os.getcwd(), "Data", "airPollutionDeathRate.csv")
air_pol_df = pd.read_csv(air_pol_csv)
air_pol_df

,Location,Dim2,Indicator,Period,Dim1,First Tooltip
0,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Both sexes,95.12 [85.12-104.3]
1,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Male,95.58 [85.5-106]
2,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Female,94.63 [84.55-103.9]
3,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Both sexes,211.1 [188.9-231.3]
4,Afghanistan,Total,Ambient and household air pollution attributab...,2016,Male,228.7 [204.6-253.6]
...,...,...,...,...,...,...
6583,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Male,5.54 [2.74-7.66]
6584,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Female,6.19 [4.73-7.3]
6585,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Both sexes,16.09 [11.67-19.89]
6586,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Male,17.72 [8.75-24.51]
6587,Zimbabwe,Chronic obstructive pulmonary disease,Ambient and household air pollution attributab...,2016,Female,14.95 [11.43-17.62]

In [19]:
# Merge the Data
merge_df1 = pd.merge(pharm_df, med_doctors_df, on = ["Location", "Period"], how = "outer")

In [26]:
merge_df2 = pd.merge(merge_df1, life_expect_df, on = ["Location", "Period"], how = "outer")
merge_df2

,Location,Period,"Pharmicists Per 10,000","Medical Doctors Per 10,000",Life Expectancy
0,Afghanistan,2016,0.47,2.78,63.763
1,Afghanistan,2015,0.50,2.85,63.377
2,Afghanistan,2014,0.51,2.98,62.966
3,Afghanistan,2012,0.27,2.41,62.054
4,Afghanistan,2011,0.28,2.52,61.553
...,...,...,...,...,...
17253,Western Sahara,2019,NaN,NaN,70.263
17254,World,2019,NaN,NaN,72.584
17255,Yemen,2019,NaN,NaN,66.125
17256,Zambia,2019,NaN,NaN,63.886
17257,Zimbabwe,2019,NaN,NaN,61.490

In [ ]:
merge_df3 = pd.merge(merge_df2, hand_wash_df, on = ["Location", "Period"], how = "outer")
merge_df4 = pd.merge(merge_df3, drink_water_df, on = ["Location", "Period"], how = "outer")
final_merge_df = pd.merge(merge_df4, sanitize_df, on = ["Location", "Period"], how = "outer")
final_merge_df

In [21]:
final_merge_df.describe()

NameError: name 'final_merge_df' is not defined

In [22]:
# Finding the number of countries
country = final_merge_df["Location"].nunique()
country

NameError: name 'final_merge_df' is not defined

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.
drinking_water_df = pd.DataFrame(final_merge_df.groupby(["Location","Population using at least basic drinking-water services (%)"]).count()).reset_index() 

#Alter the dataframe down to two columns 
drinking_water_df = drinking_water_df[["Location", ("Population using at least basic drinking-water services (%)")]] 
drinking_water_df = drinking_water_df.set_index("Location")
drinking_water_df.head()

In [ ]:
# Create the Bar Chart
drinking_water_df.plot(kind="bar",figsize=(25,5), color="b",fontsize = 14)                           
plt.title("Average Basic Drinking Water by Year",fontsize = 20)
plt.xlabel("Year",fontsize = 14)
plt.ylabel("% of Pop Using Basic Drinking Water",fontsize = 14)
plt.tight_layout()
plt.show()

In [ ]:
drinking_water_mean = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].mean()
drinking_water_median = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].median()
drinking_water_var = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].var()
drinking_water_std = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].std()
drinking_water_sem = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].sem()

In [ ]:
drinking_water_table = pd.DataFrame({"Mean": drinking_water_mean, "Median":drinking_water_median, "Variance":drinking_water_var, "Standard Deviation": drinking_water_std, "SEM": drinking_water_sem})
drinking_water_table.head()

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.
drinking_water_data = pd.DataFrame(drinking_water_table.groupby(["Period"]).count()).reset_index() 

#Alter the dataframe down to two columns 
drinking_water_df = drinking_water_data[["Period", "Mean"]] 
drinking_water_df = drinking_water_df.set_index("Period")
drinking_water_df.head()

In [ ]:
asia_continent = ["China","India","Indonesia","Pakistan","Bangladesh","Japan","Philippines","Vietnam","Turkey",
"Iran","Thailand","Myanmar","South Korea","Iraq","Afghanistan","Saudi Arabia","Uzbekistan","Malaysia","Yemen",
"Nepal","North Korea","Taiwan","Sri Lanka","Kazakhstan","Syria","Cambodia","Jordan","Azerbaijan",
"United Arab Emirates","Tajikistan","Israel","Hong Kong","Laos","Lebanon","Kyrgyzstan","Turkmenistan",
"Singapore","Oman","State of Palestine","Kuwait","Georgia","Mongolia","Armenia","Qatar","Bahrain","Timor-Leste",
"Cyprus","Bhutan","Macao","Maldives","Brunei Darussalam"]

In [ ]:
africa_continent = ["Nigeria","Ethiopia","Egypt","Democratic Republic of the Congo","Tanzania","South Africa",
"Kenya","Uganda","Algeria","Sudan","Morocco","Angola","Mozambique","Ghana","Madagascar","Cameroon","Côte d'Ivoire",
"Niger","Burkina Faso","Mali","Malawi","Zambia","Senegal","Chad","Somalia","Zimbabwe","Guinea","Rwanda","Benin",
"Burundi","Tunisia","South Sudan","Togo","Sierra Leone","Libya","Congo","Liberia","Central African Republic",
"Mauritania","Eritrea","Namibia","Gambia","Botswana","Gabon","Lesotho","Guinea-Bissau","Equatorial Guinea",
"Mauritius","Eswatini","Djibouti","Réunion","Comoros","Western Sahara","Cabo Verde","Mayotte","Sao Tome and Principe",
"Seychelles","Saint Helena"]

In [ ]:
europe_continent = ["Russia","Germany","United Kingdom","France","Italy","Spain","Ukraine","Poland","Romania",
"Netherlands","Belgium","Czechia","Greece","Portugal","Sweden","Hungary","Belarus","Austria","Serbia","Switzerland",
"Bulgaria","Denmark","Finland","Slovakia","Norway","Ireland","Croatia","Moldova","Bosnia and Herzegovina","Albania",
"Lithuania","North Macedonia","Slovenia","Latvia","Estonia","Montenegro","Luxembourg","Malta","Iceland","Channel Islands",
"Isle of Man","Andorra","Faeroe Islands","Monaco","Liechtenstein","San Marino","Gibraltar","Holy See"]

In [ ]:
north_america_continent = ["United States","Mexico","Canada","Guatemala","Haiti","Cuba","Dominican Republic","Honduras",
"Nicaragua","El Salvador","Costa Rica","Panama","Jamaica","Puerto Rico","Trinidad and Tobago","Guadeloupe","Belize",
"Bahamas","Martinique","Barbados","Saint Lucia","Curaçao","Grenada","Saint Vincent and the Grenadines","Aruba",
"United States Virgin Islands","Antigua and Barbuda","Dominica","Cayman Islands","Bermuda","Greenland","Saint Kitts and Nevis",
"Sint Maarten","Turks and Caicos Islands","Saint Martin","British Virgin Islands","Caribbean Netherlands","Anguilla",
"Saint Barthélemy","Saint Pierre and Miquelon","Montserrat"]

In [ ]:
south_america_continent = ["Brazil","Colombia","Argentina","Peru","Venezuela","Chile","Ecuador","Bolivia",
"Paraguay","Uruguay","Guyana","Suriname","French Guiana","Falkland Islands"]

In [ ]:
australia_oceania_continent = ["Australia","Papua New Guinea","New Zealand","Fiji","Solomon Islands",
"Micronesia","Vanuatu","New Caledonia","French Polynesia","Samoa","Guam","Kiribati","Tonga",
"Marshall Islands","Northern Mariana Islands","American Samoa","Palau","Cook Islands","Tuvalu",
"Wallis and Futuna Islands","Nauru","Niue","Tokelau"]