In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [3]:
import pycountry
import pycountry_convert
from pycountry_convert import country_name_to_country_alpha2

In [4]:
## Pulling data from csvs and storing as dataframes and Cleaning our dataframes
pharm_csv = os.path.join(os.getcwd(), "Data", "pharmacists.csv")
pharm_df = pd.read_csv(pharm_csv)
##Changing column names
pharm_df = pharm_df.rename(columns = {"First Tooltip" : "Pharmicists Per 10,000"}).drop(columns =["Indicator"])

In [5]:
med_doctors_csv = os.path.join(os.getcwd(), "Data", "medicalDoctors.csv")
med_doctors_df = pd.read_csv(med_doctors_csv)
##Changing column names
med_doctors_df = med_doctors_df.rename(columns = {"First Tooltip" : "Medical Doctors Per 10,000"}).drop(columns =["Indicator"])

In [6]:
# life_expect_csv = os.path.join(os.getcwd(), "Data", "Life expectancy.csv")
# life_expect_df = pd.read_csv(life_expect_csv)
##Changing column names
# life_expect_df = life_expect_df.rename(columns = {"Entity" : "Location", "Year" : "Period"})

In [39]:
life_expect_csv = os.path.join(os.getcwd(), "Data", "LifeExpectancy_world.csv")
life_expect_df = pd.read_csv(life_expect_csv)
life_expect_df = life_expect_df.drop(columns = {"Code"})
life_expect_df = life_expect_df.rename(columns = {'Entity' : 'Location'})
life_expect_df = life_expect_df.melt(['Location'], var_name = 'Date', value_name = 'Life Expectancy')
life_expect_df
# life_expect_df = life_expect_df.set_index('Location')
# life_expect_df = life_expect_df.set_index('Variable').T
# life_expect_df = life_expect_df.set_index('col1').T.rename_axis('Variable').rename_axis(None, 1)

,Location,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,27.638,27.878,28.361,28.852,29.350,29.854,30.365,30.882,31.403,...,61.028,61.553,62.054,62.525,62.966,63.377,63.763,64.130,64.486,64.833
1,Africa,36.450,36.712,37.234,37.754,38.270,38.783,39.293,39.799,40.299,...,58.576,59.263,59.914,60.527,61.093,61.607,62.064,62.472,62.839,63.170
2,Albania,54.191,54.399,54.875,55.468,56.180,57.007,57.941,58.969,60.065,...,76.562,76.914,77.252,77.554,77.813,78.025,78.194,78.333,78.458,78.573
3,Algeria,42.087,42.282,42.677,43.081,43.494,43.916,44.347,44.786,45.232,...,74.938,75.199,75.436,75.661,75.878,76.090,76.298,76.499,76.693,76.880
4,American Samoa,63.775,63.901,64.159,64.425,64.701,64.985,65.270,65.550,65.813,...,73.126,73.295,73.419,73.506,73.559,73.588,73.609,73.636,73.679,73.745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,Western Sahara,34.753,34.946,35.331,35.715,36.097,36.478,36.858,37.237,37.615,...,67.372,67.797,68.196,68.565,68.904,69.213,69.496,69.762,70.017,70.263
239,World,45.733,46.069,46.712,47.295,47.820,48.286,48.702,49.074,49.418,...,69.934,70.320,70.690,71.039,71.364,71.661,71.928,72.169,72.386,72.584
240,Yemen,29.097,29.132,29.201,29.268,29.333,29.397,29.463,29.536,29.625,...,65.549,65.768,65.920,66.016,66.066,66.085,66.087,66.086,66.096,66.125
241,Zambia,42.306,42.537,43.001,43.467,43.936,44.407,44.878,45.347,45.810,...,55.655,57.126,58.502,59.746,60.831,61.737,62.464,63.043,63.510,63.886
242,Zimbabwe,48.831,49.040,49.460,49.886,50.317,50.754,51.197,51.645,52.098,...,50.640,52.896,55.032,56.897,58.410,59.534,60.294,60.812,61.195,61.490

             Location  Date  Life Expectancy
0         Afghanistan  1950           27.638
1              Africa  1950           36.450
2             Albania  1950           54.191
3             Algeria  1950           42.087
4      American Samoa  1950           63.775
...               ...   ...              ...
17005  Western Sahara  2019           70.263
17006           World  2019           72.584
17007           Yemen  2019           66.125
17008          Zambia  2019           63.886
17009        Zimbabwe  2019           61.490

[17010 rows x 3 columns]

In [32]:
hand_wash_csv = os.path.join(os.getcwd(), "Data", "basicHandWashing.csv")
hand_wash_df = pd.read_csv(hand_wash_csv)
##Changing column names
hand_wash_df = hand_wash_df.rename(columns = {"First Tooltip" : "Population with basic handwashing facilities at home (%)"}).drop(columns =["Indicator"])
hand_wash_df = hand_wash_df[hand_wash_df["Dim1"].str.contains("Urban")==False]
hand_wash_df = hand_wash_df[hand_wash_df["Dim1"].str.contains("Rural")==False]
hand_wash_df = hand_wash_df.drop(columns = {"Dim1"})
hand_wash_df

,Location,Period,Population with basic handwashing facilities at home (%)
0,Afghanistan,2017,37.75
3,Afghanistan,2016,37.67
6,Afghanistan,2015,37.59
9,Afghanistan,2014,37.52
12,Afghanistan,2013,37.44
...,...,...,...
2711,Zimbabwe,2015,36.82
2714,Zimbabwe,2014,36.84
2717,Zimbabwe,2013,36.86
2720,Zimbabwe,2012,36.89
2723,Zimbabwe,2011,36.93

In [ ]:
drink_water_csv = os.path.join(os.getcwd(), "Data", "basicDrinkingWaterServices.csv")
drink_water_df = pd.read_csv(drink_water_csv)
##Changing column names
drink_water_df = drink_water_df.rename(columns = {"First Tooltip" : "Population using at least basic drinking-water services (%)"}).drop(columns =["Indicator"])

In [ ]:
sanitize_csv= os.path.join(os.getcwd(), "Data", "atLeastBasicSanitizationServices.csv")
sanitize_df = pd.read_csv(sanitize_csv)
##Changing column names
sanitize_df = sanitize_df.rename(columns = {"First Tooltip" : "Population using at least basic sanitization services (%)"}).drop(columns =["Indicator"])
sanitize_df = sanitize_df[sanitize_df["Dim1"].str.contains("Urban")==False]
sanitize_df = sanitize_df[sanitize_df["Dim1"].str.contains("Rural")==False]
sanitize_df = sanitize_df.drop(columns = {"Dim1"})

In [ ]:
air_pol_csv = drink_water_csv = os.path.join(os.getcwd(), "Data", "airPollutionDeathRate.csv")
air_pol_df = pd.read_csv(air_pol_csv)
air_pol_df

In [ ]:
# Merge the Data
merge_df1 = pd.merge(pharm_df, med_doctors_df, on = ["Location", "Period"], how = "outer")
merge_df1

In [ ]:
merge_df2 = pd.merge(merge_df1, life_expect_df, on = ["Location", "Period"], how = "outer")
merge_df2

In [ ]:
merge_df3 = pd.merge(merge_df2, hand_wash_df, on = ["Location", "Period"], how = "outer")
merge_df4 = pd.merge(merge_df3, drink_water_df, on = ["Location", "Period"], how = "outer")
final_merge_df = pd.merge(merge_df4, sanitize_df, on = ["Location", "Period"], how = "outer")
final_merge_df

In [ ]:
final_merge_df.describe()

In [ ]:
# Finding the number of countries
country = final_merge_df["Location"].nunique()
country

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.
drinking_water_df = pd.DataFrame(final_merge_df.groupby(["Location","Population using at least basic drinking-water services (%)"]).count()).reset_index() 

#Alter the dataframe down to two columns 
drinking_water_df = drinking_water_df[["Location", ("Population using at least basic drinking-water services (%)")]] 
drinking_water_df = drinking_water_df.set_index("Location")
drinking_water_df.head()

In [ ]:
# Create the Bar Chart
drinking_water_df.plot(kind="bar",figsize=(25,5), color="b",fontsize = 14)                           
plt.title("Average Basic Drinking Water by Year",fontsize = 20)
plt.xlabel("Year",fontsize = 14)
plt.ylabel("% of Pop Using Basic Drinking Water",fontsize = 14)
plt.tight_layout()
plt.show()

In [ ]:
drinking_water_mean = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].mean()
drinking_water_median = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].median()
drinking_water_var = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].var()
drinking_water_std = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].std()
drinking_water_sem = final_merge_df.groupby(["Location","Period"])["Population using at least basic drinking-water services (%)"].sem()

In [ ]:
drinking_water_table = pd.DataFrame({"Mean": drinking_water_mean, "Median":drinking_water_median, "Variance":drinking_water_var, "Standard Deviation": drinking_water_std, "SEM": drinking_water_sem})
drinking_water_table.head()

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.
drinking_water_data = pd.DataFrame(drinking_water_table.groupby(["Period"]).count()).reset_index() 

#Alter the dataframe down to two columns 
drinking_water_df = drinking_water_data[["Period", "Mean"]] 
drinking_water_df = drinking_water_df.set_index("Period")
drinking_water_df.head()

In [ ]:
asia_continent = ["China","India","Indonesia","Pakistan","Bangladesh","Japan","Philippines","Vietnam","Turkey",
"Iran","Thailand","Myanmar","South Korea","Iraq","Afghanistan","Saudi Arabia","Uzbekistan","Malaysia","Yemen",
"Nepal","North Korea","Taiwan","Sri Lanka","Kazakhstan","Syria","Cambodia","Jordan","Azerbaijan",
"United Arab Emirates","Tajikistan","Israel","Hong Kong","Laos","Lebanon","Kyrgyzstan","Turkmenistan",
"Singapore","Oman","State of Palestine","Kuwait","Georgia","Mongolia","Armenia","Qatar","Bahrain","Timor-Leste",
"Cyprus","Bhutan","Macao","Maldives","Brunei Darussalam"]

In [ ]:
africa_continent = ["Nigeria","Ethiopia","Egypt","Democratic Republic of the Congo","Tanzania","South Africa",
"Kenya","Uganda","Algeria","Sudan","Morocco","Angola","Mozambique","Ghana","Madagascar","Cameroon","Côte d'Ivoire",
"Niger","Burkina Faso","Mali","Malawi","Zambia","Senegal","Chad","Somalia","Zimbabwe","Guinea","Rwanda","Benin",
"Burundi","Tunisia","South Sudan","Togo","Sierra Leone","Libya","Congo","Liberia","Central African Republic",
"Mauritania","Eritrea","Namibia","Gambia","Botswana","Gabon","Lesotho","Guinea-Bissau","Equatorial Guinea",
"Mauritius","Eswatini","Djibouti","Réunion","Comoros","Western Sahara","Cabo Verde","Mayotte","Sao Tome and Principe",
"Seychelles","Saint Helena"]

In [ ]:
europe_continent = ["Russia","Germany","United Kingdom","France","Italy","Spain","Ukraine","Poland","Romania",
"Netherlands","Belgium","Czechia","Greece","Portugal","Sweden","Hungary","Belarus","Austria","Serbia","Switzerland",
"Bulgaria","Denmark","Finland","Slovakia","Norway","Ireland","Croatia","Moldova","Bosnia and Herzegovina","Albania",
"Lithuania","North Macedonia","Slovenia","Latvia","Estonia","Montenegro","Luxembourg","Malta","Iceland","Channel Islands",
"Isle of Man","Andorra","Faeroe Islands","Monaco","Liechtenstein","San Marino","Gibraltar","Holy See"]

In [ ]:
north_america_continent = ["United States","Mexico","Canada","Guatemala","Haiti","Cuba","Dominican Republic","Honduras",
"Nicaragua","El Salvador","Costa Rica","Panama","Jamaica","Puerto Rico","Trinidad and Tobago","Guadeloupe","Belize",
"Bahamas","Martinique","Barbados","Saint Lucia","Curaçao","Grenada","Saint Vincent and the Grenadines","Aruba",
"United States Virgin Islands","Antigua and Barbuda","Dominica","Cayman Islands","Bermuda","Greenland","Saint Kitts and Nevis",
"Sint Maarten","Turks and Caicos Islands","Saint Martin","British Virgin Islands","Caribbean Netherlands","Anguilla",
"Saint Barthélemy","Saint Pierre and Miquelon","Montserrat"]

In [ ]:
south_america_continent = ["Brazil","Colombia","Argentina","Peru","Venezuela","Chile","Ecuador","Bolivia",
"Paraguay","Uruguay","Guyana","Suriname","French Guiana","Falkland Islands"]

In [ ]:
australia_oceania_continent = ["Australia","Papua New Guinea","New Zealand","Fiji","Solomon Islands",
"Micronesia","Vanuatu","New Caledonia","French Polynesia","Samoa","Guam","Kiribati","Tonga",
"Marshall Islands","Northern Mariana Islands","American Samoa","Palau","Cook Islands","Tuvalu",
"Wallis and Futuna Islands","Nauru","Niue","Tokelau"]